<style>
.ui-autocomplete-category {
    font-weight: bold;
    padding: .2em .4em;
    margin: .8em 0 .2em;
    line-height: 1.5;
}
</style>

<script>
var YWSID = "cpdQ-5t6lIHziB-PIS-eHA";

 $.widget( "custom.catcomplete", $.ui.autocomplete, {
        _renderMenu: function( ul, items ) {
            var that = this,
                currentCategory = "";
            $.each( items, function( index, item ) {
                if ( item.api != currentCategory ) {
                    ul.append( "<li class='ui-autocomplete-category'>" + item.api + "</li>" );
                    currentCategory = item.api;
                }
                that._renderItem( ul, item );
            });
        }
    });



$(function() {

    $('input#item_name').catcomplete({
          	source: function(req, response){

			        $.ajax({
			            url      : 'http://api.yelp.com/business_review_search',
			            dataType : 'jsonp',
			            data     : {term: req.term, location: $("input#item_location").val(), limit:10, ywsid:'cpdQ-5t6lIHziB-PIS-eHA'}, // callback is not necessary
			            success  : function(data) {
			                // data is a normal response shown on yelp's API page
			                
			                var restaurantSuggestions = [];
				              $.each(data.businesses, function(i, business){ 
				              	var h = {};
				              	h['label'] = business.name;                   
				              	h['api'] = "Yelp";
				              	h['category'] = business.categories[0].name;
				                restaurantSuggestions.push(h);  
				              });
				              

				              response( $.map( restaurantSuggestions, function( item ) {
				              		return {
				              			label: item.label, api: item.api, category: item.category
				              		}
				                  }
				              	)
				              )

			            }
			        });
			},
			select: function( event, ui ) {
                $('input#item_category').val(ui.item.category);
            }
  })
})

</script>

<%= div_for(list, :class => "offset0 span2", :style => "border-right-style:solid; border-right-width:1px; border-right-color:#eee; padding-right:20px; height:800px") do %>
			<h4 style="display:inline" id="listTitle-<%= dom_id(list) %>"><%= "#{list.title}" %></h4>

			<% if list.user == current_user %>
					<%= link_to 'x', list, confirm: "Delete list?", method: :delete %>
			<% end %>
			<br />

			<% if @followedlists or @search %>
				(by <%= link_to "#{list.user.firstname} #{list.user.lastname}", user_path(list.user) %>)<br />
			<% end %>

			<% if not list.user == current_user %>
				<% if current_user.listships.where("followlist_id = ?", list.id).exists? %>
					<%= link_to 'unfollow', listship_path(id: list.id), method: :delete, :class => "btn btn-mini"  %>
				<% else %>
					<%= link_to 'follow', listships_path(id: list.id), method: :post, :class => "btn btn-mini"  %>
				<% end %>
			<% end %>

			<div class="actions">
				<% if list.user == current_user %>
					<div class="btn-group">
					<%= link_to "public", lists_change_privacy_path(id: list.id, privacy:0), :class => "btn btn-mini #{list.privacy == 0 ? "btn-primary disabled" : ""}", method: :post, :style =>"margin-right:0px" %><%= link_to "friends",  lists_change_privacy_path(id: list.id, privacy:1), :class => "btn btn-mini #{list.privacy == 1 ? "btn-primary disabled" : ""}", method: :post %><%= link_to "private",  lists_change_privacy_path(id: list.id, privacy:2), :class => "btn btn-mini #{list.privacy == 2 ? "btn-primary disabled" : ""}", method: :post %><br /><br />
					</div>
				<% end %>




		    <% if list.user == current_user %>
				<!-- Button to trigger modal -->
				<a href="#" role="button" class="itemModalButton btn btn-mini btn-primary" data-toggle="modal" style="margin-top:5px" id="itemModalButton-<%= dom_id(list) %>">+ item</a>
			<% end %>



			</div>
			<br />
		sort by:<br />
		<%= link_to "location", lists_sort_path(id: list.id, sort_by:"location"), :class => "btn btn-mini #{list.sort_by == "location" ? "btn-primary disabled" : ""}", method: :post, :style =>"margin-right:0px" %><%= link_to "category",  lists_sort_path(id: list.id, sort_by:"category"), :class => "btn btn-mini #{list.sort_by == "category" ? "btn-primary disabled" : ""}", method: :post %><br /><br />


			<% @previous = "" %>
			<div class="items" id="<%= dom_id(list) %>">
				<% if list.sort_by == "category" %>
	      			<%= render list.items.order("category ASC") %>
	      		<% else %>
	      			<%= render list.items.order("location ASC") %>
	      		<% end %>
		    </div>
<% end %>
