<%= div_for(list, :class => "offset0 span2", :style => "border-right-style:solid; border-right-width:1px; border-right-color:#eee; padding-right:20px; height:800px") do %>
			<h4 style="display:inline"><%= "#{list.title}" %></h4>

			<% if list.user == current_user %>
					<%= link_to 'x', list, confirm: "Delete list?", method: :delete %>
			<% end %>
			<br />

			<%= raw list.tag_list.reject { |t| t == list.title }.map { |t| link_to t, tag_path(id:list.user_id, tag:t) if t != list.title }.join(', ')  %>
			<br />
			<br />

			<% if @followedlists or @search %>
				(<%= link_to "#{list.user.firstname} #{list.user.lastname}", user_path(list.user) %>)<br />
			<% end %>

			<div class="actions">
				<% if list.user == current_user %>
					<div class="btn-group">
					<%= link_to "public", lists_change_privacy_path(id: list.id, privacy:0), :class => "btn btn-mini #{list.privacy == 0 ? "btn-primary disabled" : ""}", method: :post, :style =>"margin-right:0px" %><%= link_to "friends",  lists_change_privacy_path(id: list.id, privacy:1), :class => "btn btn-mini #{list.privacy == 1 ? "btn-primary disabled" : ""}", method: :post %><%= link_to "private",  lists_change_privacy_path(id: list.id, privacy:2), :class => "btn btn-mini #{list.privacy == 2 ? "btn-primary disabled" : ""}", method: :post %><br /><br />
					</div>
				<% end %>

				<% if not list.user == current_user %>
					<% if current_user.listships.where("followlist_id = ?", list.id).exists? %>
						<%= link_to 'unfollow', listship_path(id: list.id), method: :delete %>
					<% else %>
						<%= link_to 'follow', listships_path(id: list.id), method: :post %>
					<% end %>
				<% end %>




		    <% if list.user == current_user %>
				<!-- Modal -->
				<div class="modal hide fade" id="itemModal-<%= dom_id(list) %>" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="myModalLabel">Create Item in <%= list.title %></h3>
				  </div>
					<%= form_for(Item.new, remote: true, :html => { :class => "modal-form" }) do |f| %>
						<%= f.hidden_field :list_id, :value => list.id %>
						<div class="modal-body field">
							<%= f.text_field :name, placeholder: "Enter item here" %>
						</div>
						<div class="modal-footer">
							<%= f.submit "Add Another", :name => "another_button", :class => "btn btn-primary" %>
							<%= f.submit "Done", :name => "done_button", :class => "btn btn-primary" %>
						</div>
					<% end %>
				</div>

				<!-- Button to trigger modal -->
				<a href="#itemModal-<%= dom_id(list) %>" role="button" class="btn btn-mini btn-primary" data-toggle="modal" style="margin-top:5px">Add item</a>
			<% end %>



			</div>
		
			<br />
			<div class="items" id="<%= dom_id(list) %>">
      			<%= render list.items.order("created_at DESC") %>
		    </div>
<% end %>
