<br />
<div class="row">
  <div class="offset5 span6">

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name),   :html => {:class => 'form-horizontal'}  ) do |f| %>
  <%= devise_error_messages! %>

  <legend>Sign Up</legend>
    
  <div class="inputs">
    <div class="control-group">
        <%= f.label :firstname, "First Name", :class => 'control-label'  %>
        <div class="controls">
            <%= f.input_field :firstname, :autofocus => true %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :lastname, "Last Name", :class => 'control-label'  %>
        <div class="controls">
            <%= f.input_field :lastname %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :email, "Email", :class => 'control-label'  %>
        <div class="controls">
            <%= f.input_field :email %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :password, "Password", :class => 'control-label'  %>
        <div class="controls">
            <%= f.input_field :password %>
        </div>
    </div>

    <div class="control-group">
        <%= f.label :password_confirmation, "Confirm Password", :class => 'control-label'  %>
        <div class="controls">
            <%= f.input_field :password_confirmation %>
        </div>
    </div>
  </div>

  <div class="actions">
    <%= f.button :submit, "Sign up", :class => "btn btn-primary btn-large", :style => "width:300px; margin-left:80px" %>
  </div>
<% end %>

<br />

<%- if devise_mapping.recoverable? && controller_name != 'passwords' %>
  <%= link_to "Forgot your password?", new_password_path(resource_name), :style => "margin-left:0" %><br />
<% end -%>

</div>
</div>