<br />

<div class="row">
  <div class="span3">
  	<h3><%= @user.firstname %> <%= @user.lastname %> </h3>
  	<%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
  	<br />
  	<%= link_to "Friends", friends_path(@user) %>
	<br />
  	<br />
	<%= form_for(List.new, remote: true) do |f| %>
		<div class="field">
			<%= f.label :title, "Enter list title:" %>
			<%= f.text_field :title %>
		</div>
		<div class="actions">
			<%= f.submit %>
		</div>
	<% end %>
  </div>  
  <div id="item_show"></div>
</div>

<div class="row">
	  <div class="offset3 span3"><h3>Your Favorites</h3></div>
	  <div class="offset0 span3"><h3>Friends Favorites</h3></div>
	  <div class="offset0 span3"><h3>Wish List</h3></div>
</div>
<div id="lists">
  <%= render @lists %>
</div>
  