<br />

<div class="row">
  <div class="offset0 span3 affix" style="margin-left:60px; height:800px" >
  	
    <% if @user.provider == "facebook" %>
      <%= link_to image_tag(@user.image, alt: "profile pic", size: "40x40"), user_path(@user)  %><h4 style="display:inline; margin-left:10px"><%= @user.firstname %> <%= @user.lastname %> </h4><br /><br />
    <% else %>
      <h4><%= @user.firstname %> <%= @user.lastname %> </h4>
  	<% end %>

  	<% if (not @user == current_user) and (not current_user.friend?(@user)) %>
	  	<%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %><br />
	 <% end %>
  	
  	<% if @user == current_user %>
  		<br />
  		<% if (@user.requested_friendships.count > 0) %>
  		  <%= link_to("Friend Requests", friends_path(@user)) %>
  		  <span style='color:red'>(<%= @user.requested_friendships.count %>)</span>
  		<% else %>
  		 Friend Requests (0)
  		<% end %>
		<br />
		<br />
	<% end %>


    <% if @user == current_user %>
      Your Friends <br />
    <% else %>
      <%= "#{@user.firstname}'s" %> Friends <br />
    <% end %>
    <div style="height:100px; width:250px; overflow:scroll;">
		<%= render @user.friends %>
	</div>


	<br />
  	<br />
  	<br />
	<div id="item_show"></div>
  </div>  


  <div class="offset4 span12">

<% if @followedlists %>
	<ul class="nav nav-tabs">
		<li>
			<%= link_to "#{@user.firstname}'s Lists", user_path(@user) %>
		</li>
		<li class="active">
			<a href="#">Followed Lists</a>
		</li>
	</ul>
<% elsif @search %>
	<ul class="nav nav-tabs">
		<li>
			<%= link_to "#{@user.firstname}'s Lists", user_path(@user) %>
		</li>
		<li>
			<%= link_to "Followed Lists", user_path(id:@user.id, followedlists: true) %>
		</li>
		<li class="active">
			<a href="#">Search Results</a>
		</li>
	</ul>
<% else %>
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#"><%= "#{@user.firstname}'s Lists" %></a>
		</li>
		<li>
			<%= link_to "Followed Lists", user_path(id:@user.id, followedlists: true) %>
		</li>
	</ul>	

	<% if @user == current_user %>
		<!-- Modal -->
		<div class="modal hide fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">Create a List</h3>
		  </div>
			<%= form_for(List.new, remote: false, :html => { :class => "modal-form" }) do |f| %>
				<%= f.hidden_field :user_id, :value => @user.id %>
				<div class="modal-body field">
					<%= f.text_field :title, placeholder: "List title" %>
					<p style="font-size:x-small; margin-top:-1em">Eg. Books, Movies, Restaurants, Destinations, Music, Doctors, Shoes...</p>
					<%= f.select :privacy, [['public', 0], ['friends only', 1], ['private', 2]], :selected => 1 %>
					<a href="#" rel="tooltip" data-placement="right" title="Your list can be public, visible to your friends only, or private. Friends of your friends can see it only if it is public."><i class="icon-question-sign"></i></a>
				</div>
				<div class="modal-footer">
					<%= f.submit "Add List", :class => "btn btn-primary" %>
				</div>
     		<% end %>
		</div>
	<% end %>

	<% if @user == current_user %>
		<!-- Button to trigger modal -->
		<a href="#" role="button" class="btn btn-mini btn-primary" data-toggle="modal" id="listModalButton" style="margin-bottom:4px">+ list</a>
	<% end %>

 <% end %>

 	<% if @search %>
 		Searched your list and your friends: <%= @lists.count %> <%= "list".pluralize(@lists.count) %> returned with <strong><%= @search %></strong>
 	<% end %>

 	<% if @tag %>
 		Filtered by: <strong><%= @tag %></strong> <%= link_to "x", user_path(@user) %>
 	<% else %>

 	<% end %>

 	<!--
 	<% if not @tagcounts.empty? %>
		<div id="tag_cloud">
		  Tags: 
		  <% tag_cloud @tagcounts, %w[s m l] do |tag, css_class| %>
		    <%= link_to tag.name.downcase, tag_path(id:@user.id, tag:tag.name, search:@search, followedlists:@followedlists), class: css_class %>
		  <% end %>
		  <br />
		</div>
	<% else %>
		<br />
	<% end %>
-->


	<hr>


<% if @user == current_user %>
				<!-- Modal -->
				<div class="modal hide fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel" aria-hidden="true" style="width:700px;height:700px;">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="itemModalLabel"></h3>
				  </div>
						<%= form_for(Item.new, remote: true, :html => { :class => "modal-form"}) do |f| %>
							<%= f.hidden_field :list_id, :value => 1 %>
							<%= f.hidden_field :api, :value => "" %>
							<%= f.hidden_field :image, :value => "" %>
							<div class="modal-body field">
								<div class="field" id="location" style="margin-bottom:8px">
									<%= f.label :location_name, "If it has a location, enter it here:" %>
									<%= f.text_field :location_name, placeholder: "city, neighborhood, or zipcode", :style => "font-size:1em" %>
								</div>
								<div class="ui-widget">
									<h3 id="search_message" style="font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; display:none">Searching for suggestions...</h3>	
									<div id="search_placeholder" style="display:show"><h3>&nbsp;</h3></div>		
									<%= f.text_field :name, placeholder: "Item Name", :style => "width:600px;height:40px;margin-left:0px;font-size:1em; margin-top:5px" %><br />
									
									<div style="width:600px">
										<div id="itemPreview" style="float:right; margin-top:10px; width:100px")><img id="imgPreview"><span class="badge badge-inverse img_remove" style="display:none; position: absolute;">x</span></div>

										<%= f.text_field :category_name, placeholder: "Category", :style => "width:400px;height:28px;margin-left:0px;font-size:1em" %><br />
										<%= f.text_field :url, placeholder: "URL", :style => "width:400px;height:28px;margin-left:0px;font-size:1em" %><br />
										<%= f.text_area :initial_comment, placeholder: "Write what you think about this...", :style => "width:400px;height:60px;margin-left:0px;font-size:1em" %></br >
										<label class="checkbox" style="margin-left:0px">
											<%= f.check_box :wishlist, {} %>Wishlist
										</label>
									</div> 
								</div>					
							</div>
								<%= f.submit "Add Another", :id => "submit_item_another", :class => "btn btn-primary btn-large", :type => "button", :style => "margin-left:450px" %>
								<%= f.submit "Done", :id => "submit_item", :class => "btn btn-primary btn-large" %>
						<% end %>
					</div>
			<% end %>

<div id="lists" style="margin-top:-16px">
<% for i in 0..(@lists.count-1)/5 %>
	<% @row = i %>
	<div class="row" id="row-<%= @row %>" style="margin-left:0px; border-bottom-width:1px; border-bottom-color:#eee; border-bottom-style:solid; padding-top:8px">
		<% @max_items = 0 %>
		<% @lists[5*i..(5*(i+1)-1)].each do |l| %>
			<% if l.items.count > @max_items %>
				<% @max_items = l.items.count %>
			<% end%>
		<% end %>
		<%= render @lists[5*i..(5*(i+1)-1)] %>
	</div>
<% end %>
</div>

</div>
</div>