<br />

<div class="row">
  <div class="span3">
  	<h3><%= @user.firstname %> <%= @user.lastname %> </h3>
  	<% if (not @user == current_user) and (not @friend) %>
	  	<%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
	 <% end %>
  	<br />
  	<%= link_to "View Friends", friends_path(@user) %>
	<br />
  	<br />
  </div>  
  <div id="item_show"></div>
</div>

<% if @followedlists %>
	<ul class="nav nav-tabs">
		<li>
			<%= link_to "#{@user.firstname}'s Lists", user_path(@user) %>
		</li>
		<li class="active">
			<a href="#">Followed Lists</a>
		</li>
	</ul>
<% elsif @search %>
	<ul class="nav nav-tabs">
		<li>
			<%= link_to "#{@user.firstname}'s Lists", user_path(@user) %>
		</li>
		<li>
			<%= link_to "Followed Lists", user_path(id:@user.id, followedlists: true) %>
		</li>
		<li class="active">
			<a href="#">Search Results</a>
		</li>
	</ul>
<% else %>
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#"><%= "#{@user.firstname}'s Lists" %></a>
		</li>
		<li>
			<%= link_to "Followed Lists", user_path(id:@user.id, followedlists: true) %>
		</li>
	</ul>	

	<% if @user == current_user %>
		<!-- Modal -->
		<div class="modal hide fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">Pick a general title. Then tag it.</h3>
		  </div>
			<%= form_for(List.new, remote: true, :html => { :class => "modal-form" }) do |f| %>
				<%= f.hidden_field :user_id, :value => @user.id %>
				<div class="modal-body field">
					<%= f.label :title, "List title:" %>
					<%= f.text_field :title, placeholder: "" %>
					<p style="font-size:x-small; margin-top:-1em">Eg. Books, Movies, Restaurants, Destinations, Music, Doctors, Shoes...</p>
					<%= f.label :tag_list, "Tags (separated by commas):" %>
					<%= f.text_field :tag_list, :style => "width:400px" %>
					<p style="font-size:x-small; margin-top:-1em">Eg. 
						Books: mystery;
						Restaurants: San Francisco, Sushi;
						Destinations: holidays;
						Music: long drives</p>
					<%= f.label :privacy, "Privacy for list:" %>
					<%= f.select :privacy, [['public', 0], ['friends only', 1], ['private', 2]], :selected => 1 %>
					<a href="#" rel="tooltip" title="Your list can be public, visible to your friends only, or private. Friends of your friends can see it only if it is public."><i class="icon-question-sign"></i></a>
				</div>
				<div class="modal-footer">
					<%= f.submit "Add List", :class => "btn btn-primary" %>
				</div>
     		<% end %>
		</div>
	<% end %>

	<% if @user == current_user %>
		<!-- Button to trigger modal -->
		<a href="#listModal" role="button" class="btn btn-mini btn-primary" data-toggle="modal">+ list</a>
	<% end %>

 <% end %>

 	<% if @search %>
 		Searched your list and your friends: <strong><%= @lists.count %> <%= "list".pluralize(@lists.count) %> returned for <%= @search %></strong>
 	<% end %>


	<ul class="pager" style="margin-left:800px; margin-top:<%= ((@user == current_user) and  !@followedlists and !@search and !@tag) ? -20 : 0 %>px">
		<% if @lists.previous_page %>
		  <li><%= link_to "&larr;".html_safe, params.merge(page: @lists.previous_page) %></li>
		<% end %>
		<% if not @lists.total_pages == 1 %>
			<%= @lists.current_page %> / <%= @lists.total_pages %>
		<% end %>
		<% if @lists.next_page %>
		  <li><%= link_to "&rarr;".html_safe, params.merge(page: @lists.next_page) %></li>
		<% end %>
	</ul>



 	<% if @tag %>
 		Filtered by: <strong><%= @tag %></strong> <%= link_to "x", user_path(@user) %>
 	<% else %>

 	<% end %>

 	<% if not @tagcounts.empty? %>
		<div id="tag_cloud">
		  Tags: 
		  <% tag_cloud @tagcounts, %w[s m l] do |tag, css_class| %>
		    <%= link_to tag.name, tag_path(id:@user.id, tag:tag.name), class: css_class %>
		  <% end %>
		  <br />
		</div>
	<% end %>


	<hr>


<% if @user == current_user %>
				<!-- Modal -->
				<div class="modal hide fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel" aria-hidden="true">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="itemModalLabel"></h3>
				  </div>
					<%= form_for(Item.new, remote: true, :html => { :class => "modal-form"}) do |f| %>
						<%= f.hidden_field :list_id, :value => 1 %>
						<div class="modal-body field">
							<a href="#" id="location-toggle">click here to include a location</a>
							<div class="field" id="location">
								<%= f.text_field :location, placeholder: "City, neighborhood, or zipcode" %>
							</div>
							<div class="ui-widget">
								<%= f.text_field :name, placeholder: "Enter item here" %>
							</div>					
						</div>
						<div class="modal-footer">
							<%= f.submit "Add Another", :name => "another_button", :class => "btn btn-primary" %>
							<%= f.submit "Done", :name => "done_button", :class => "btn btn-primary" %>
						</div>
					<% end %>
				</div>
			<% end %>

<div class="row" style="margin-left:5px">
<div id="lists">
  <%= render @lists %>
</div>
</div>