<br />

<div class="row">
  <div class="span3">
  	<h3><%= @user.firstname %> <%= @user.lastname %> </h3>
  	<% if (not @user == current_user) and (not @friend) %>
	  	<%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %>
	 <% end %>
  	<br />
  	<%= link_to "View Friends", friends_path(@user) %>
	<br />
  	<br />
  </div>  
  <div id="item_show"></div>
</div>

<% if @followedlists %>
	<ul class="nav nav-tabs">
		<li>
			<%= link_to "#{@user.firstname}'s Lists", user_path(@user) %>
		</li>
		<li class="active">
			<a href="#">Followed Lists</a>
		</li>
	</ul>
<% elsif @search %>
	<ul class="nav nav-tabs">
		<li>
			<%= link_to "#{@user.firstname}'s Lists", user_path(@user) %>
		</li>
		<li>
			<%= link_to "Followed Lists", user_path(id:@user.id, followedlists: true) %>
		</li>
		<li class="active">
			<a href="#">Search Results</a>
		</li>
	</ul>
<% else %>
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#"><%= "#{@user.firstname}'s Lists" %></a>
		</li>
		<li>
			<%= link_to "Followed Lists", user_path(id:@user.id, followedlists: true) %>
		</li>
	</ul>	

	<% if @user == current_user %>
		<!-- Modal -->
		<div class="modal hide fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">Create List</h3>
		  </div>
			<%= form_for(List.new, remote: true, :html => { :class => "modal-form" }) do |f| %>
				<%= f.hidden_field :user_id, :value => @user.id %>
				<div class="modal-body field">
					<%= f.text_field :title, placeholder: "Enter list title" %>
				</div>
				<div class="modal-footer">
					<%= f.submit "Create List", :class => "btn btn-primary" %>
				</div>
     		<% end %>
		</div>
	<% end %>

	<% if @user == current_user %>
		<!-- Button to trigger modal -->
		<a href="#listModal" role="button" class="btn btn-mini btn-primary" data-toggle="modal">Add list</a> <a href="#" rel="tooltip" title="Your list can be public (everyone can see it), visible only to your friends, or private (only you can see it). When you first create it, by default, only your friends can see it."><i class="icon-question-sign"></i></a>
	<% end %>

 <% end %>

 	<% if @search %>
 		Searched your list and your friends: <strong><%= @lists.count %> <%= "list".pluralize(@lists.count) %> returned for <%= @search %></strong>
 	<% end %>

	<ul class="pager" style="margin-left:800px; margin-top:<%= ((@user == current_user) and  !@followedlists and !@search) ? -20 : 0 %>px">
		<% if @lists.previous_page %>
		  <li><%= link_to "&larr;".html_safe, params.merge(page: @lists.previous_page) %></li>
		<% end %>
		<% if not @lists.total_pages == 1 %>
			<%= @lists.current_page %> / <%= @lists.total_pages %>
		<% end %>
		<% if @lists.next_page %>
		  <li><%= link_to "&rarr;".html_safe, params.merge(page: @lists.next_page) %></li>
		<% end %>
	</ul>




	<hr>



<div class="row" style="margin-left:5px">
<div id="lists">
  <%= render @lists %>
</div>
</div>