<br />

<div class="row">
  <div class="offset0 span3 affix" style="margin-left:60px" >
  	
    <% if @user.provider == "facebook" %>
      <%= link_to image_tag(@user.image, alt: "profile pic", size: "40x40"), user_path(@user)  %><h4 style="display:inline; margin-left:10px"><%= @user.firstname %> <%= @user.lastname %> </h4><br /><br />
    <% else %>
      <h4><%= @user.firstname %> <%= @user.lastname %> </h4>
  	<% end %>

  	<% if (not @user == current_user) and (not current_user.friend?(@user)) %>
	  	<%= link_to "Add Friend", friendships_path(:friend_id => @user), :method => :post %><br />
	 <% end %>
  	
  	<%= link_to "View Friends", friends_path(@user) %>
	<br />
  	<br />
  	<br />
	<div id="item_show"></div>
  </div>  


  <div class="offset4 span12">


<% if @followedlists %>
	<ul class="nav nav-tabs">
		<li>
			<%= link_to "#{@user.firstname}'s Lists", user_path(@user) %>
		</li>
		<li class="active">
			<a href="#">Followed Lists</a>
		</li>
	</ul>
<% elsif @search %>
	<ul class="nav nav-tabs">
		<li>
			<%= link_to "#{@user.firstname}'s Lists", user_path(@user) %>
		</li>
		<li>
			<%= link_to "Followed Lists", user_path(id:@user.id, followedlists: true) %>
		</li>
		<li class="active">
			<a href="#">Search Results</a>
		</li>
	</ul>
<% else %>
	<ul class="nav nav-tabs">
		<li class="active">
			<a href="#"><%= "#{@user.firstname}'s Lists" %></a>
		</li>
		<li>
			<%= link_to "Followed Lists", user_path(id:@user.id, followedlists: true) %>
		</li>
	</ul>	

	<% if @user == current_user %>
		<!-- Modal -->
		<div class="modal hide fade" id="listModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">Pick a general title.</h3>
		  </div>
			<%= form_for(List.new, remote: false, :html => { :class => "modal-form" }) do |f| %>
				<%= f.hidden_field :user_id, :value => @user.id %>
				<div class="modal-body field">
					<%= f.label :title, "List title:" %>
					<%= f.text_field :title, placeholder: "" %>
					<p style="font-size:x-small; margin-top:-1em">Eg. Books, Movies, Restaurants, Destinations, Music, Doctors, Shoes...</p>
					<%= f.label :privacy, "Privacy for list:" %>
					<%= f.select :privacy, [['public', 0], ['friends only', 1], ['private', 2]], :selected => 1 %>
					<a href="#" rel="tooltip" data-placement="right" title="Your list can be public, visible to your friends only, or private. Friends of your friends can see it only if it is public."><i class="icon-question-sign"></i></a>
				</div>
				<div class="modal-footer">
					<%= f.submit "Add List", :class => "btn btn-primary" %>
				</div>
     		<% end %>
		</div>
	<% end %>

	<% if @user == current_user %>
		<!-- Button to trigger modal -->
		<a href="#" role="button" class="btn btn-mini btn-primary" data-toggle="modal" id="listModalButton" style="margin-bottom:4px">+ list</a>
	<% end %>

 <% end %>

 	<% if @search %>
 		Searched your list and your friends: <strong><%= @lists.count %> <%= "list".pluralize(@lists.count) %> returned for <%= @search %></strong>
 	<% end %>

 	<% if @tag %>
 		Filtered by: <strong><%= @tag %></strong> <%= link_to "x", user_path(@user) %>
 	<% else %>

 	<% end %>

 	<% if not @tagcounts.empty? %>
		<div id="tag_cloud">
		  Tags: 
		  <% tag_cloud @tagcounts, %w[s m l] do |tag, css_class| %>
		    <%= link_to tag.name.downcase, tag_path(id:@user.id, tag:tag.name, search:@search, followedlists:@followedlists), class: css_class %>
		  <% end %>
		  <br />
		</div>
	<% else %>
		<br />
	<% end %>


	<hr>


<% if @user == current_user %>
				<!-- Modal -->
				<div class="modal hide fade" id="itemModal" tabindex="-1" role="dialog" aria-labelledby="itemModalLabel" aria-hidden="true" style="width:650px">
				  <div class="modal-header">
				    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
				    <h3 id="itemModalLabel"></h3>
				  </div>
					<%= form_for(Item.new, remote: true, :html => { :class => "modal-form"}) do |f| %>
						<%= f.hidden_field :list_id, :value => 1 %>
						<%= f.hidden_field :url, :value => "" %>
						<%= f.hidden_field :api, :value => "" %>
						<%= f.hidden_field :image, :value => "" %>
						<div class="modal-body field">
							<div class="field" id="location">
								<%= f.label :location_name, "If it has a location, enter it here:" %>
								<%= f.text_field :location_name, placeholder: "city, neighborhood, or zipcode", :style => "font-size:1em" %>
							</div>
							<br />
							<div class="ui-widget">
								<%= f.text_field :name, placeholder: "Enter item", :style => "width:400px;height:40px;margin-left:60px;font-size:1em" %>
								<div id="itemPreview" style="float:right; margin-left:20px; width:100px")></div>
								<%= f.text_field :category_name, placeholder: "Category", :style => "width:400px;height:28px;margin-left:60px;font-size:1em" %>
								<%= f.text_area :initial_comment, placeholder: "Write what you think about this...", :style => "width:400px;height:60px;margin-left:60px;font-size:1em" %></br >
								<label class="checkbox" style="margin-left:60px">
									<%= f.check_box :wishlist, {} %>Wishlist
								</label>
							</div>					
						</div>
						<div class="modal-footer">
							<%= f.submit "Add Another", :id => "submit_item_another", :class => "btn btn-primary", :type => "button" %>
							<%= f.submit "Done", :id => "submit_item", :class => "btn btn-primary" %>
						</div>
					<% end %>
				</div>
			<% end %>

<div id="lists" style="margin-top:-16px">
<% for i in 0..(@lists.count-1)/5 %>
	<% @row = i %>
	<div class="row" id="row-<%= @row %>" style="margin-left:0px; border-bottom-width:1px; border-bottom-color:#eee; border-bottom-style:solid; padding-top:8px">
		<% @max_items = 0 %>
		<% @lists[5*i..(5*(i+1)-1)].each do |l| %>
			<% if l.items.count > @max_items %>
				<% @max_items = l.items.count %>
			<% end%>
		<% end %>
		<%= render @lists[5*i..(5*(i+1)-1)] %>
	</div>
<% end %>
</div>

</div>
</div>