<%= div_for item do %>

	<% if item.list.sort_by == "category" %>
		<% if item.category != @previous %>
			<% if item.category.blank? %>
				<% @previous = "" %>
			<% else %>
				<br />
				<strong><%= item.category %></strong><br />
				<% @previous = item.category %>
			<% end %>
		<% end %>
	<% elsif item.list.sort_by == "location" %>
		<% if item.location != @previous %>
			<br />
			<strong><%= item.location %></strong><br />
			<% @previous = item.location %>
		<% end %>
	<% end %>
	
	<%= link_to "#{item.name}", item, :style => "font-size:0.9em", remote: true %><%= item.comments.count == 0 ? "" : "  (#{item.comments.count}) " %> 
 	<% if item.list.user == current_user %>
		<%= link_to '&times;'.html_safe, item, method: :delete, remote: true %><br />
	<% else %>
		<a href="#" rel="popover" data-content='

		<%= form_tag url_for(:controller => 'items', :action => 'add'), :remote => 'true', :method => 'post', :class => 'add_form' do %>
					  <%= hidden_field_tag :item_id, item.id %>
				      <%= select_tag :list, options_for_select(current_user.lists.map{|l| l.title}), :style => 'width:160px; height:28px; font-size:1em; margin-top:10px; margin-right:20px', :class=>'list' %>
				      <%= submit_tag "Add", :class=>"btn btn-primary" %>
				    <% end %><div class="item_notice" style="color:green"></div>' data-title="Add item to your list" style="font-size:0.8em">+</a><br />
	<% end %>


<% end %>