<div class="offset1 span4">
	<strong><%= "#{item.name}" %></strong> in <%= "#{item.list.title}" %>
	<br />
	(<%= item.category %><%= item.location ? ", #{item.location}" : "" %>)
</div>
<div class="span3">
  Comments:

			<div class="comments">
      			<%= render item.comments %>
		    </div>
		    <br />
			<%= form_for(Comment.new, remote: true) do |f| %>
				<%= f.hidden_field :item_id, :value => item.id %>
				<div class="field">
					<%= f.text_field :body, placeholder: "Write a comment..." %>
				</div>
				<div class="actions">
					<%= f.submit "Comment", :class => "btn btn-mini" %>
				</div>
			<% end %>



</div>