
	<% if !item.image.blank? %>
		<%= link_to image_tag("#{item.image}", alt: "#{item.name}", size: "120x120"), item.url %><br /><br />
	<% end %>

	<strong><%= "#{item.name}" %></strong> in <%= "#{item.list.title}" %><% if item.list.user == current_user %>
		<%= link_to ' &times;'.html_safe, item, method: :delete %><% end %>
	<br />
	<% if item.category or item.location %>
		(<%= item.category_name %><%= item.location ? ", #{item.location.name}" : "" %>)
	<% end %>

	<% if item.url %>
		<% if item.api.blank? %>
			<div style="font-size:0.8em"><%= link_to "View link", item.url, :target => "_blank" if !item.url.empty? %></div>
		<% else %>
			<div style="font-size:0.8em"><%= link_to "View on #{item.api}", item.url, :target => "_blank" if !item.url.empty? %></div>
		<% end %>
	<% end %>

	<% if item.list.user != current_user %>
	<br />
			<a href="#" rel="popover" data-placement="right" data-trigger="manual" data-content='

		<%= form_tag url_for(:controller => 'items', :action => 'add'), :remote => 'true', :method => 'post', :class => 'add_form' do %>
					  <%= hidden_field_tag :item_id, item.id %>
				      <%= select_tag :list, options_for_select(current_user.lists.map{|l| l.title}, item.list.title), :style => 'width:160px; height:28px; font-size:1em; margin-top:10px; margin-right:20px', :class=>'list' %>
				      <%= text_area_tag :initial_comment, nil, :placeholder => "Write what you think about this item...", :style => "width:230px;height:60px;font-size:1em" %>
				      <%= submit_tag "Add", :class=>"btn btn-primary" %>
				    <% end %>
				    <div class="item_notice" style="color:green"></div>' data-title="Add item to your list" style="font-size:0.8em" class="poppy btn btn-mini">add</a><br />

				    <% end %>

	<br /> 
	<br /> 
	<%= item.initial_comment %><br />
  	<br />
			<div class="comments">
				<strong>Comments:</strong><br/>
      			<%= render item.comments %>
		    </div>
		    <br />
			<%= form_for(Comment.new, remote: true) do |f| %>
				<%= f.hidden_field :item_id, :value => item.id %>
				<div class="field">
					<%= f.text_field :body, placeholder: "Write a comment..." %>
				</div>
				<div class="actions">
					<%= f.submit "Comment", :class => "btn btn-mini" %>
				</div>
			<% end %>


