<header class="navbar navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <%= link_to "Favy", root_path, :class=>"brand", :style=>"margin-left:20px" %>
        <% if user_signed_in? %>
          <ul class="nav">
              <li><%= link_to "Search for people",  users_path %></li>            
          </ul>
        <% end %>
      <div class="nav pull-right">
        <ul class="nav">
          <% if user_signed_in? %>

            <li style="margin-bottom:-20px; margin-top:5px">


              <%= form_tag(search_path, :method => 'get', :html => {:style => "padding-top:10px"}) do %>
                
                  <%= text_field_tag :search, params[:search] %>
                  <%= image_submit_tag('search.png', :name => nil, :style =>"width:20px;margin-bottom:10px") %>
                
              <% end %>

          
            </li>
            <li class="divider-vertical"></li>

            <% if current_user.provider == "facebook" %>
              <li><%= link_to image_tag(current_user.image, alt: "profile pic", size: "20x20") + " #{current_user.firstname} #{current_user.lastname}", user_path(current_user)  %></li>
            <% else %>
              <li><%= link_to "#{current_user.firstname} #{current_user.lastname}",  user_path(current_user) %></li>
            <% end %>

            <li id="fat-menu" class="dropdown">
              <a href="#fat-menu" class="dropdown-toggle" data-toggle="dropdown">
                Account <b class="caret"></b>
              </a>
              <ul class="dropdown-menu">
                <li><%= link_to current_user.email, "#" %></li>
                <li class="divider"></li>
                <li><%= link_to "Settings", edit_user_registration_path %></li>
                <li class="divider"></li>
                <li>
                  <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
                </li>
              </ul>
            </li>
          <% else %>
              <li><div><%= link_to "LOG IN", sign_in_path, :style =>"font-size:10px;", :class => "btn btn-mini" %></div></li> 
          <% end %>



        </ul>
      </div>
    </div><!--container-->
  </div><!--navbar-inner-->
</header>